header {
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: all 0.6s;
}

header.navbar-color {
  background-color: rgba(85, 56, 174, 0.795);
  -webkit-backdrop-filter: blur(6px) !important;
  backdrop-filter: blur(6px) !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--text-light);
  font-family: var(--font-secondary);
  font-size: var(--text-size-s);
  font-weight: 300;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
}

nav .desktop-nav {
  display: none;
}

nav .logo {
  width: 110px;
  position: relative;
  z-index: 1;
}

.mobile-nav {
  background-color: rgba(85, 56, 174, 0.795);
  padding: 120px 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(6px) !important;
  backdrop-filter: blur(6px) !important;
  transform: translateX(-100%);
  visibility: hidden;
}

.mobile-nav.show-nav {
  transform: translateX(0);
}

.mobile-nav i {
  color: var(--text-light);
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
}

.mobile-nav a {
  padding: 20px;
  background: rgba(90, 59, 174, 0.559);
  border-bottom: 1px solid rgba(75, 42, 125, 0.351);
  display: block;
}

.toggle {
  cursor: pointer;
  overflow: hidden;
  width: 42px;
  height: 42px;
  background: #e8beff76;
  border-radius: 10px;
  box-shadow: 0 3px 7px 0 #3906566d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.line-toggle {
  position: absolute;
  display: block;
  width: 28px;
  height: 5px;
  background: var(--text-light);
  border-radius: 5px;
  transition: all 0.6s;
}

.line-toggle:first-child {
  transform: translateY(-10px) translateX(-2px);
  transition-delay: 0s;
  width: 26px;
}

.toggle .line-toggle:nth-child(2) {
  transition-delay: 0.12s;
}

.line-toggle:last-child {
  transform: translateY(10px) translateX(-6px);
  transition-delay: 0s;
  width: 18px;
}

.toggle.activate .line-toggle:first-child {
  background: var(--color-primary-x-dark);
  transform: translateY(0) translateX(0) rotate(45deg);
  width: 30px;
  height: 5px;
  transition-delay: 0.1s;
  left: 6px;
  top: 18px;
}

.toggle.activate .line-toggle:nth-child(2) {
  transform: translateX(110px);
  transition-delay: 0s;
}

.toggle.activate .line-toggle:last-child {
  background: var(--color-primary-x-dark);
  transform: translateY(0) translateX(0) rotate(314deg);
  width: 30px;
  height: 5px;
  transition-delay: 0.1s;
  left: 6px;
  top: 18px;
}

.btn-contact {
  display: none;
}

@media (min-width: 920px) {
  .toggle {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav.show-nav {
    display: none;
  }

  nav .desktop-nav {
    display: flex;
    align-items: center;
  }

  .desktop-nav li {
    transition: all 0.4s;
  }

  .desktop-nav li:hover {
    transform: translateY(-3px);
  }

  .desktop-nav a {
    margin: 0 10px;
  }

  .desktop-nav a:hover {
    color: #8beaff;
  }

  .btn-contact {
    background-color: var(--color-primary-x-dark);
    padding: 8px 25px;
    display: block;
  }

  .btn-contact:hover {
    background: #1a162c;
    transform: translateY(-6px);
  }
}

@media (min-width: 1440px) {
  nav ul a {
    margin: 0 30px;
  }

  .desktop-nav a {
    margin: 0 30px;
  }
}
