#services {
  margin: 40px 0;
  background: url(../icons/patterns.svg) no-repeat top center;
  background-size: contain;
}

.services-wrapper {
  display: grid;
  gap: 40px;
}

.services-info {
  color: var(--text-dark);
}

.services-card-wrapper,
.services-info {
  flex-basis: 50%;
}

.services-card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.services-card {
  border-radius: 10px;
  transition: 0.3s all ease-out;
  border: 1px solid #c0beda6d;
}

.services-card h3 {
  width: 80%;
  position: relative;
}

.services-card h3:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--text-light);
  left: 0;
  bottom: -10px;
}

.services-card:nth-child(2) h3:after,
.services-card:nth-child(4) h3:after {
  background-color: var(--text-dark);
}

.services-card:first-child,
.services-card:nth-child(3) {
  background-color: var(--accent);
  color: var(--text-light);
  box-shadow: 0px 5px 15px 3px rgba(74, 154, 191, 0.451);
}

.services-card:nth-child(2),
.services-card:last-child {
  background-color: var(--bg-light);
  color: var(--text-dark);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 4px;
}

.computer2 {
  display: none;
}

.redesign2 {
  display: none;
}

.services-card:first-child .icon-wrapper,
.services-card:nth-child(3) .icon-wrapper {
  background-color: var(--text-light);
}

.services-card:nth-child(2) .icon-wrapper,
.services-card:last-child .icon-wrapper {
  background-color: var(--accent-light);
}

.services-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-info p:first-child {
  color: var(--primary);
}

.services-info h2 {
  position: relative;
  margin-top: 12px;
}

.services-info h2:after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: var(--accent-light);
  right: calc(100% - 350px);
  bottom: 38px;
  z-index: -1;
  border-radius: 0 0 0 54px;
}

@media (min-width: 485px) {
  .services-info h2::after {
    right: calc(100% - 474px);
    bottom: -18px;
  }

  .services-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-card:nth-child(3) h3:after {
    background-color: var(--text-dark);
  }

  .services-card:nth-child(4) h3:after {
    background-color: var(--bg-light);
  }

  .services-card:last-child {
    background-color: var(--accent);
    color: var(--text-light);
    box-shadow: 0px 5px 15px 3px rgba(74, 154, 191, 0.451);
  }

  .services-card:nth-child(2),
  .services-card:nth-child(3) {
    background-color: var(--bg-light);
    color: var(--text-dark);
    box-shadow: none;
  }

  .services-card:last-child .icon-wrapper {
    background-color: var(--text-light);
  }

  .services-card:nth-child(3) .icon-wrapper {
    background-color: var(--accent-light);
  }

  .computer1 {
    display: none;
  }

  .redesign1 {
    display: none;
  }

  .computer2 {
    display: block;
  }

  .redesign2 {
    display: block;
  }
}

@media (min-width: 900px) {
  .services-wrapper {
    grid-template-areas: "boxes info";
    grid-template-columns: 1fr 0.8fr;
  }

  .services-card-wrapper {
    grid-area: boxes;
  }

  .services-info {
    grid-area: info;
  }

  .services-info h2::after {
    right: calc(100% - 361px);
    bottom: 35px;
  }
}

@media (min-width: 1121px) {
  .services-wrapper {
    grid-template-areas: "boxes info";
    grid-template-columns: 1fr 1fr;
  }

  .services-info {
    padding-left: 20px;
  }

  .services-info h2 {
    margin-top: 0;
  }

  .services-info h2::after {
    bottom: -12px;
    right: calc(100% - 476px);
  }
}

@media (min-width: 1200px) {
  #services {
    height: 98vh;
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .services-info h2 {
    max-width: 422px;
  }

  .services-info h2::after {
    bottom: 30px;
    right: calc(100% - 360px);
  }
}
