header {
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: all 0.3s;
}

header.navbar-color {
  background-color: #200530d0;
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(26px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
}

nav a {
  font-family: var(--font-secondary);
  font-weight: 300;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
}

nav .desktop-nav {
  display: none;
}

nav .logo {
  width: 110px;
  position: relative;
  z-index: 1;
}

.mobile-nav {
  background-color: var(--primary);
  padding: 120px 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(6px) !important;
  backdrop-filter: blur(6px) !important;
  transform: translateX(-100%);
  visibility: hidden;
}

.mobile-nav.show-nav {
  transform: translateX(0);
}

.mobile-nav i {
  color: var(--text-light);
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav a {
  padding: 20px;
  display: block;
  font-size: var(--text-size-l);
  border-bottom: 1px solid #dfbaff;
}

.toggle {
  cursor: pointer;
  overflow: hidden;
  width: 42px;
  height: 42px;
  background: rgba(232, 190, 255, 0.463);
  border-radius: 10px;
  box-shadow: 0 3px 7px 0 rgba(57, 6, 86, 0.427);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.line-toggle {
  position: absolute;
  display: block;
  width: 28px;
  height: 5px;
  background: var(--text-light);
  border-radius: 5px;
  transition: all 0.6s;
}

.line-toggle:first-child {
  transform: translateY(-10px) translateX(-2px);
  transition-delay: 0s;
  width: 26px;
}

.toggle .line-toggle:nth-child(2) {
  transition-delay: 0.12s;
}

.line-toggle:last-child {
  transform: translateY(10px) translateX(-6px);
  transition-delay: 0s;
  width: 18px;
}

.toggle.activate .line-toggle:first-child {
  background: var(--primary-x-dark);
  transform: translateY(0) translateX(0) rotate(45deg);
  width: 30px;
  height: 5px;
  transition-delay: 0.1s;
  left: 6px;
  top: 18px;
}

.toggle.activate .line-toggle:nth-child(2) {
  transform: translateX(110px);
  transition-delay: 0s;
}

.toggle.activate .line-toggle:last-child {
  background: var(--primary-x-dark);
  transform: translateY(0) translateX(0) rotate(314deg);
  width: 30px;
  height: 5px;
  transition-delay: 0.1s;
  left: 6px;
  top: 18px;
}

.btn-contact {
  display: none;
}

.menu-right {
  display: none;
}

.mobile-right {
  display: flex;
  gap: 10px;
}

.menu-right .languages button:hover {
  background-color: #601d89;
}

.language-active {
  display: flex;
}

.languages img {
  width: 20px;
}

.languages {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.languages button {
  cursor: pointer;
  display: flex;
  background-color: rgba(104, 60, 135, 0.522);
  color: var(--primary-light);
  border: none;
  border-radius: 4px;
}

.language-m-hidden,
.language-d-hidden {
  display: none;
  position: absolute;
  left: 0;
}

.language-m-hidden {
  top: 32px;
}

.language-d-hidden {
  top: 25px;
}

.language-m-hidden img,
.language-d-hidden img {
  transition: all 0.4s;
}

.language-m-hidden img:hover,
.language-d-hidden img:hover {
  transform: scale(1.4);
}

.language-m-hidden.show,
.language-d-hidden.show {
  display: block;
}

@media (min-width: 920px) {
  .toggle {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav.show-nav {
    display: none;
  }

  nav .desktop-nav {
    display: flex;
    align-items: center;
  }

  .desktop-nav li {
    transition: all 0.4s;
  }

  .desktop-nav li:hover {
    transform: translateY(-3px);
  }

  .desktop-nav a {
    margin: 0 10px;
    font-size: var(--text-size-s);
  }

  .desktop-nav a:hover {
    color: #8beaff;
  }

  .btn-contact {
    background-color: rgba(175, 164, 225, 0.524);
    padding: 8px 25px;
    display: block;
  }

  .btn-contact:hover {
    background: rgba(175, 164, 225, 0.32);
    transform: scale(1.07);
  }

  .menu-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-right .languages {
    display: none;
  }

  .menu-right .languages button {
    transition: all 0.3s;
  }
}

@media (min-width: 1440px) {
  nav ul a {
    margin: 0 30px;
  }

  .desktop-nav a {
    margin: 0 30px;
  }
}
