main {
  width: 100%;
  background-color: var(--body-color);
  display: flex;
  align-items: center;
}

main > * {
  position: relative;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 130px 0 40px;
}

.headline {
  color: var(--primary-x-dark);
  position: relative;
}

.headline h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.headline p {
  margin-top: 20px;
}

.headline::before {
  content: "";
  position: absolute;
  background-image: url(/icons/waving-hand.svg);
  background-repeat: no-repeat;
  background-size: 36px;
  width: 40px;
  height: 40px;
  left: 130px;
  top: 10px;
}

.headline .btn {
  letter-spacing: 1px;
  margin-top: 26px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--text-size-xs);
  text-transform: uppercase;
  padding: 12px 24px;
  background-color: var(--accent);
  color: var(--text-light);
}

.banner-img img {
  width: 100%;
}

.main-wrapper .social-icons {
  margin-top: 20px;
}

.social-icons svg {
  height: fit-content;
}

@media (min-width: 740px) {
  main {
    height: 100vh;
  }

  .headline h1 {
    font-size: var(--text-size-xxxl);
  }
  
  .main-wrapper {
    flex-direction: row;
    gap: 20px;
    margin-top: 90px;
  }

  .headline {
    flex-basis: 64%;
  }

  .headline::before {
    left: 268px;
    top: 162px;
   }

  .break-line {
    display: none;
  }
}

@media (min-width: 847px) {
  .headline::before {
    left: 336px;
    top: 92px;
  }
}

@media (min-width: 920px) and (max-width: 924px) {
  .headline::before {
    left: 338px;
  }
}

@media (min-width: 958px) {
  .headline {
    flex-basis: 55%;
  }
}

@media (min-width: 1010px) {
  .headline::before {
    left: 266px;
  }
}

@media (min-width: 1024px) {
  .headline {
    padding-left: 58px;
  }

  .headline::before {
    background-size: 40px;
    width: 40px;
    height: 50px;
    left: 0px;
    top: 14px;
  }

  .headline .btn:hover {
    background-color: var(--accent-dark);
    transform: scale(1.07);
  }
}

@media (min-width: 1200px) {
  .headline {
    padding-left: 90px;
  }

  .headline::before {
    left: 30px;
  }

  .main-wrapper {
    gap: 0;
  }
}
